@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  
  --primary-color: #B9FF66;
  --secondary-color: #F3F3F3;
  --ter-color: #191A23;
}


/* @layer components {
  .card {
    @apply bg-green-300 p-6 rounded-lg shadow-lg;
  }
  .card-title {
    @apply text-2xl font-bold mb-2;
    font-family: 'Rubik Wet Paint', sans-serif;
  }
  .card-text {
    @apply text-base;
    font-family: 'Space Grotesk', sans-serif;
  }
} */


.logo-container {
  gap: 20px;
  overflow: hidden;
  padding: 60px 0;
  /* background-color: antiquewhite; */
  white-space: nowrap;
  cursor: pointer;
  margin-top: 6px;
  position: relative;
}

.logo-container::before, 
.logo-container::after{
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
  
}

.logo-container::before{
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  
}

.logo-container::after{
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  
}


.logo-slide{
    display: inline-block;
    animation: scroll 6s linear infinite;
}

.logo-container:hover .logo-slide {
  animation-play-state: paused;
}


.logo-slide .img{
  height: 50px;
  margin: 0 40px;
}

@media (min-width: 1024px) {
  .logo-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .logo-item {
    flex: 1 0 auto;
  }
}

@keyframes scroll {
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.homeh{
  color: #000;

/* h1 mob */
/* font-family: "Space Grotesk"; */
font-size: 43px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.imgh{
  display: inline-flex;
  padding: 0px 34px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.homep{
  color: #000;

/* p mob */

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.btnn{
  display: flex;
width: 250px;
padding: 12px 15px;
justify-content: center;
align-items: center;
gap: 6px;
color: #FFF;
text-align: center;
border-radius: 14px;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
background-color: var(--ter-color);
}

.services{
  color: #000;
/* h2 mob */
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
background-color: var(--primary-color);
width: 171px;
align-items: center;
border-radius: 10px;
}

.spara{
  color: #000;
text-align: center;

/* p mob */
font-family: "Space Grotesk";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.card {
  display: flex;
width: 350px;
padding: 50px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 45px;
border: 1px #191A23;
box-shadow: 0px 5px 0px 0px #191A23;
/* background-color: var(--primary-color); */
}

.card_title{
  color: #000;
/* h3 mob */
/* font-family: "Space Grotesk"; */
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.cardpara{
  color: var(--ter-color);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}

.foo{
  display: inline-flex;
padding: 50px 20px 30px 20px;
flex-direction: column;
align-items: center;
gap: 37px;
background-color: var(--ter-color);
}

/* Add the following classes to your global CSS file if needed */

@media (min-width: 1024px) and (max-width: 1024px) {
  .lg\:gap-14 {
    gap: 2rem;
  }
}
